/* div { outline: 1px solid red !important; }
header { outline: 1px solid red !important; }    */

html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: rgb(232, 74, 39);
}

p {
    font-size: 16px;
    text-align: justify;
    text-justify: inter-word;
}

img {
    max-width: 100%;
    height: auto;
}

.App {
    width: 100%;
    top: 0;
    min-height: 100vh;
    color: white;
    background-color: rgb(19, 41, 75);
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(10px + 2vmin);
    justify-content: center;
} 

/* ####### HOMEPAGE ####### */
.intro-title {
    font-size: max(6vmin, 29px);
    min-width: 280px;
    text-align: left;
    margin-left: 15%;
}

.headshot {
    min-width: 280px;
    max-width: 400px;
}

.home-page {
    justify-content: center;
    max-width: 1200px;
}

.body {
    display: flex;
    justify-content: center;
}

.text-content {
    text-align: justify;
    font-size: max(2.2vmin, 15px);
    padding: 2%;
}

.school-logo {
    padding: 10%;
}
/* ######################## */

/* ####### NAVBAR ####### */


.navbar-link,  nav-link {
    text-decoration: none;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    text-align: end;
}

.navbar-brand:hover {
    color: rgb(232, 74, 39);
}

/* ###################### */

/* #### COURSEWORK AND TOOLS #### */

.list-div {
    margin-top: 5%;
    min-width: 280px;
}

.list-content {
    list-style-type: none;
}

/* ############################## */

/* #### PROJECTS #######*/
.project-header {
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%; 
    font-size: calc(3vmin + 25px);
    min-width: 280px;
}

.project-card {
    background-color: white;
    width: 277px;
    height: 400px;
    margin-top: 20px;
    color: rgb(19, 41, 75);
    text-decoration: none;
  }

/*#####################*/  

/* #### EXPERIENCE PAGE #### */
.experience-page{
    margin: 5%;
    min-width: 80%;
    text-align: center;
}

.experience-content {
    font-size: max(calc(1vmin+20px), 20px);
    text-align: justify;
    margin: 5%;
}

/**/

