
p {
    font-size: 16px;
    text-align: justify;
    text-justify: inter-word;
}

a {
    text-decoration: none;
}

a:hover {
    color: rgb(190, 118, 9);
}


body {
    font-size: 100%;
}

.App {
    width: 100%;
    top: 0;
    min-height: 100vh;
    color: rgb(200, 222, 231);
    background-color: rgb(10, 22, 75);
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(10px + 2vmin);
} 

.intro {
    font-size: 50%;
    margin-left: 30%;
    margin-top: 2%;
    text-align: left;
    max-width: 40%;
}

.intro-heading {
    font-size: 4em;
}

.intro-subheading {
    font-size: 2.7em;
}


a.custom-link, .logo, nav-link {
    text-decoration: none;
    color: rgb(200,222,231);
    margin-left: 10px;
    margin-right: 10px;
}

a.custom-link:hover, .logo:hover{
    color: rgb(190, 118, 9);
}


.temp {
    margin: 25%;
}

.headshot {
    overflow: none;
}

img {
    max-width: 100%;
    height: auto;
}


.bio {
    font-size: 0.6em;
    max-width: 40%;
    display: 'flex';
}

.about-div{
    max-width: 70%;
    float: 'center';
    font-size: 0.9em;
}

.experience-logo {
    max-width: 30%;
}

.experience-tab {
    display: block;
    padding: .5rem 1rem;
    color: rgb(200, 222, 231);
    text-decoration: none;
 
}

.experience-tab:hover{
    color: rgb(190, 118, 9);
}

.active.tab {
    background-color: rgb(18, 37, 124);
}


.title {
    font-size: 0.8em;
}

.experience {
    max-width: 60%;
}


.contributions {
    font-size: 0.5em;
}

