
p {
    font-size: 16px;
    text-align: justify;
    text-justify: inter-word;
}

a {
    text-decoration: none;
}

a:hover {
    color: rgb(190, 118, 9);
}


body {
    font-size: 100%;
}

.App {
    width: 100%;
    top: 0;
    min-height: 100vh;
    color: rgb(200, 222, 231);
    background-color: rgb(10, 22, 75);
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(10px + 2vmin);
} 


.home {
    margin: 10% 20% 10% 20%;
}

.intro {
    font-size: 50%;
}

.intro-heading {
    font-size: 4em;
}

.intro-subheading {
    font-size: 2.7em;
}


a.custom-link, .logo {
    text-decoration: none;
    color: rgb(200,222,231);
    margin-left: 10px;
    margin-right: 10px;
}

a.custom-link:hover, .logo:hover{
    color: rgb(190, 118, 9);
}


.temp {
    margin: 25%;
}

.headshot {
    overflow: none;
}

img {
    max-width: 100%;
    height: auto;
}

